<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIDil6W4mmgcbbFPtAIWtNRil1pN-Vfwg</string>
	<key>GCM_SENDER_ID</key>
	<string>238866518230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.printmate</string>
	<key>PROJECT_ID</key>
	<string>comedb-c5d30</string>
	<key>STORAGE_BUCKET</key>
	<string>comedb-c5d30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238866518230:ios:eab3ea986b64972d3bf977</string>
</dict>
</plist>